.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;

  background-image: url("../img/patterns/webb/webb.png");
}

.app-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
